elasticsearch.host={{ elasticsearch.host }}
hibernate.connection.username={{ hibernate.connection.username }}
hibernate.connection.password={{ hibernate.connection.password }}
hibernate.connection.url={{ hibernate.connection.url }}
security.hibernate.connection.username={{ security.hibernate.connection.username }}
security.hibernate.connection.password={{ security.hibernate.connection.password }}
security.hibernate.connection.url={{ security.hibernate.connection.url }}
