elasticsearch.host={{ elasticsearch_host }}
hibernate.connection.username={{ hibernate_connection_username }}
hibernate.connection.password={{ hibernate_connection_password }}
hibernate.connection.url={{ hibernate_connection_url }}
security.hibernate.connection.username={{ security_hibernate_connection_username }}
security.hibernate.connection.password={{ security_hibernate_connection_password }}
security.hibernate.connection.url={{ security_hibernate_connection_url }}
