CATALINA_BASE=/opt/tomcat
CATALINA_HOME=/opt/tomcat
CATALINA_OUT=/var/log/catalina.out
CATALINA_PID=/var/run/tomcat.pid
CATALINA_TMPDIR=/tmp
CATALINA_OPTS="{{ catalina_opts }"
JAVA_OPTS="{{ java_opts }}"
SERVER_ENV="{{ server_env }}"

